.social-networks {
    padding: 0;
    padding-top: 100px;
    padding-bottom: 88px;
    background: #272727;

    position: relative;

    &__title {
        font-family: "Forum";
        font-weight: 400;
        font-size: 48px;
        line-height: 53px;

        letter-spacing: 0.03em;

        color: #FFFFFF;

        margin-left: 161px;
    }

    &__list {
        align-self: flex-end;
        display: flex;

        margin-left: 157px;
    }

    &__item {
        padding: 10px 0;

        margin-right: 14px;

        &:last-child{
            margin-right: 0;
        }
    }

    &__link {
        padding: 20px;

        background-repeat: no-repeat;
        background-position: center;

        cursor: pointer;
        display: block;

        transition: transform 0.3s;

        &:hover{
            transition: transform 0.3s;
            transform: scale(1.2);
            
        }

        &:focus{
            transition: transform 0.3s;
            transform: scale(1.2);
        }

        &_fc {
            @include inline-svg-icon("facebook", #FFFFFF, #FFFFFF, center, 15px);
        }

        &_inst {
            @include inline-svg-icon("Instagram", #FFFFFF, #FFFFFF, center, 15px);
        }
    }
    

    &__temporarily{
        font-family: "Forum";
        font-weight: 400;
        font-size: 48px;
        line-height: 53px;
        
        letter-spacing: 0.03em;
    
        color: #FFFFFF;

        padding: 189.5px;
    
        margin-left: 162px;
        margin-top: 100px;
    }
}
