@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: "FuturaPT";
    font-display: swap;
    src: local("FuturaPT"), url("../fonts/FuturaPT-Light.woff2") format("woff2"), url("../fonts/FuturaPT-Light.woff") format("woff"); 
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: "FuturaPT";
    font-display: swap;
    src: local("FuturaPT"), url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff"); 
}

@font-face {
    font-weight: 450;
    font-style: normal;
    font-family: "FuturaPT";
    font-display: swap;
    src: local("FuturaPT"), url("../fonts/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT-Medium.woff") format("woff"); 
}

@font-face {
    font-weight: 400;
    font-style: italic;
    font-family: "SegoeUI";
    font-display: swap;
    src: local("SegoeUI"), url("../fonts/SegoeUI-Italic.woff2") format("woff2"), url("../fonts/SegoeUI-Italic.woff") format("woff"); 
}

    
@font-face {
    font-weight: 300;
    font-style: italic;
    font-family: "SegoeUI";
    font-display: swap;
    src: local("Segoe UI"), url("../fonts/SegoeUI-Light-Italic.woff2") format("woff2"), url("../fonts/SegoeUI-Light-Italic.woff") format("woff");
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: "Forum";
    font-display: swap;
    src: local("Forum"), url("../fonts/Forum.woff2") format("woff2"), url("../fonts/Forum.woff") format("woff");
}

