body {
  font-family: 'FuturaPT', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  min-width: 1200px;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #f1f1f1; }

*,
*:before,
*::after {
  box-sizing: inherit; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0; }

.clearfix::after {
  display: block;
  clear: both;
  content: ''; }

.header {
  background: white;
  position: relative;
  display: flex;
  height: 100vh; }
  .header__img {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%); }

.logo-block {
  width: 60.97%;
  padding: 30px 11.25% 60px;
  display: flex;
  position: relative; }
  .logo-block__logo-img {
    position: absolute; }
  .logo-block__text-block {
    align-self: center; }
  .logo-block__title {
    font-size: 64px;
    line-height: 71px;
    font-family: "Forum";
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #272727;
    margin-bottom: 52px; }
  .logo-block__subtitle {
    font-family: "SegoeUI, sans-serif";
    width: 100%;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.015em;
    font-size: 19px;
    color: #272727;
    white-space: nowrap;
    margin-left: 32%; }
    .logo-block__subtitle::before {
      content: '';
      position: relative;
      bottom: 2px;
      display: inline-block;
      padding: 7px 65px;
      background-image: url("data:image/svg+xml, %3Csvg width='130' height='1' fill='rgb%2839%2C39%2C39%29' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb%2839%2C39%2C39%29' d='M0 .5h130'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 130px;
      margin-right: 30px; }
  .logo-block__language-bar {
    align-self: flex-end;
    position: absolute; }
  .logo-block__lang {
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 21px;
    color: #C4C4C4;
    margin-right: 6px; }
    .logo-block__lang:last-child {
      margin-right: 0; }
    .logo-block__lang_activ {
      color: #272727; }

.menu-block {
  width: 39.03%;
  padding: 45px 11.25% 60px 9.6%;
  background: #272727;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative; }
  .menu-block__activ-menu {
    border-right: 1px solid white;
    padding-right: 6px;
    display: flex;
    height: 22px; }
  .menu-block__activ-menu-link {
    padding: 12px;
    margin-right: 40px;
    background-repeat: no-repeat; }
    .menu-block__activ-menu-link:nth-child(1) {
      background-image: url("data:image/svg+xml, %3Csvg width='24' height='22' fill='rgb%2839%2C39%2C39%29' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 20C-9.2 8.233 5.64-4.541 12 3.536 18.36-4.54 33.199 8.233 12 20z' stroke='%23fff' stroke-width='1.8'/%3E%3C/svg%3E");
      background-repeat: 11px;
      background-position: #FFFFFF;
      background-size: center; }
    .menu-block__activ-menu-link:nth-child(2) {
      background-image: url("data:image/svg+xml, %3Csvg width='15' height='22' fill='rgb%2839%2C39%2C39%29' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.833 5.444c0 2.455-1.94 4.445-4.333 4.445-2.393 0-4.333-1.99-4.333-4.445C3.167 2.99 5.107 1 7.5 1c2.393 0 4.333 1.99 4.333 4.444zM1 15.444C1 12.376 3.425 9.89 6.417 9.89h2.166c2.992 0 5.417 2.487 5.417 5.555v4.445c0 .614-.485 1.111-1.083 1.111H2.083C1.485 21 1 20.503 1 19.889v-4.445z' stroke='%23fff' stroke-width='1.8'/%3E%3C/svg%3E");
      background-repeat: 11px;
      background-position: #FFFFFF;
      background-size: center;
      margin-right: 29px; }
    .menu-block__activ-menu-link:nth-child(3) {
      background-image: url("data:image/svg+xml, %3Csvg width='17' height='22' fill='rgb%2839%2C39%2C39%29' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 8H2a1 1 0 00-1 1v11a1 1 0 001 1h13a1 1 0 001-1V9a1 1 0 00-1-1h-2.5m-8 0V5a4 4 0 014-4v0a4 4 0 014 4v3m-8 0h8' stroke='%23fff' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-repeat: 11px;
      background-position: #FFFFFF;
      background-size: center;
      margin-right: 0px; }
  .menu-block__commodity-block {
    align-self: flex-end;
    width: 100%; }
  .menu-block__commodity-title {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 9px; }
  .menu-block__commodity-description {
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #C2C2C2;
    margin-bottom: 9px; }
  .menu-block__commodity-price {
    font-family: "SegoeUI, sans-serif";
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    display: block;
    text-align: right;
    color: #EFC58B; }

.nav__btn {
  position: relative;
  top: -3px;
  padding: 10px 15px;
  background: transparent;
  border: none;
  outline: none; }

.nav__btn-svg_burger {
  padding: 10px 15px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml, %3Csvg width='30' height='18' fill='rgb%28255%2C255%2C255%29' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round' d='M.9 1.1h28.2M.9 9.1h28.2M.9 17.1h28.2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px; }

.nav__btn-svg_close {
  padding: 10px 15px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml, %3Csvg width='24' height='23' fill='rgb%28255%2C255%2C255%29' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 21.777L21.66 1m-19.32.223L23 22' stroke='%23fff' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px; }

.main {
  padding-top: 20px;
  background: white; }

.section-man-woman {
  display: flex;
  justify-content: space-between;
  background: white;
  margin-bottom: 20px; }

.man-woman-block {
  position: relative;
  width: 100%;
  margin-right: 21px;
  height: 100%; }
  .man-woman-block:last-child {
    margin-right: 0; }
  .man-woman-block__img {
    height: 100%;
    width: 100%; }
  .man-woman-block__opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6; }
  .man-woman-block__title {
    position: absolute;
    top: 49%;
    left: 50%;
    padding-bottom: 24px;
    z-index: 1;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF; }
    .man-woman-block__title_gender {
      font-family: "Forum";
      font-size: 64px;
      line-height: 71px;
      letter-spacing: 0.03em;
      color: #FFFFFF; }
    .man-woman-block__title::after {
      content: "";
      width: 36%;
      height: 3px;
      z-index: 2;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      background-image: url("data:image/svg+xml, %3Csvg width='130' height='1' fill='rgb%28255%2C255%2C255%29' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb%28255%2C255%2C255%29' d='M0 .5h130'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 2px; }

.card {
  width: 100%;
  max-height: 604px;
  height: 100%;
  margin-bottom: 20px;
  display: flex; }

.info-block {
  width: 50%;
  background: #272727;
  padding: 172px 162px;
  align-items: center; }
  .info-block__title {
    width: 90%;
    font-family: "Forum";
    font-size: 48px;
    line-height: 53px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 16px; }
  .info-block__subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 55px;
    color: #FFFFFF; }
  .info-block__form {
    position: relative;
    width: 386px; }
  .info-block__input {
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1.8px solid #FFFFFF;
    width: 100%;
    color: white;
    font-size: 22px;
    padding-bottom: 10px;
    padding-right: 50px; }
    .info-block__input::placeholder {
      font-weight: 300;
      font-size: 18px;
      line-height: 23px;
      color: rgba(255, 255, 255, 0.4); }
  .info-block__btn {
    position: absolute;
    right: 0;
    bottom: 10px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: transparent;
    background-image: url("data:image/svg+xml, %3Csvg width='30' height='17' fill='rgb%28255%2C255%2C255%29' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.125 1L29 8.5m0 0L21.125 16M29 8.5H1' stroke='rgb%28255%2C255%2C255%29' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: 28px 15px;
    background-position: #FFFFFF;
    background-size: center;
    background-repeat: no-repeat; }

.card-block {
  width: 50%;
  background-image: url("../img/img/s2-kart.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 604px; }

.product-example {
  max-height: 820px;
  margin-bottom: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "min-1 big min-3" "min-2 big min-4";
  grid-template-columns: 27.7% 1fr 27.7%; }
  .product-example__min-block {
    max-height: 400px;
    background: #EDEDED;
    position: relative; }
    .product-example__min-block_1 {
      grid-area: min-1; }
    .product-example__min-block_2 {
      grid-area: min-2; }
    .product-example__min-block_3 {
      grid-area: min-3; }
    .product-example__min-block_4 {
      grid-area: min-4; }
  .product-example__min-img_1 {
    position: absolute;
    top: 11.75%;
    left: 50%;
    transform: translate(-50%, 0); }
  .product-example__min-img_2 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0); }
  .product-example__min-img_3 {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 0); }
  .product-example__min-img_4 {
    position: absolute;
    top: -2.5%;
    left: 50%;
    transform: translate(-50%, 0); }
  .product-example__min-info-block {
    position: absolute;
    bottom: 20px;
    left: 30px; }
  .product-example__min-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #272727;
    margin-bottom: 9px; }
  .product-example__min-description {
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #757575;
    margin-bottom: 9px; }
  .product-example__min-price {
    font-family: "SegoeUI, sans-serif";
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #E2B67A; }
  .product-example__big-block {
    max-height: 820px;
    grid-area: big;
    position: relative; }
  .product-example__big-info-block {
    position: absolute;
    bottom: 20px;
    left: 30px; }
  .product-example__big-img {
    width: 100%;
    max-height: 820px; }
  .product-example__big-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 9px; }
  .product-example__big-description {
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #E7E7E7;
    margin-bottom: 9px; }
  .product-example__big-price {
    font-family: "SegoeUI, sans-serif";
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #E2B67A; }

.social-networks {
  padding: 100px 0;
  background: #272727;
  position: relative; }
  .social-networks__title {
    font-family: "Forum";
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-left: 162px; }
  .social-networks__list {
    align-self: flex-end;
    display: flex;
    margin-left: 160px; }
  .social-networks__item {
    padding: 10px 0;
    margin-right: 14px; }
    .social-networks__item:last-child {
      margin-right: 0; }
  .social-networks__link {
    padding: 10px 20px;
    background-repeat: no-repeat;
    background-position: center; }
    .social-networks__link_fc {
      background-image: url("data:image/svg+xml, %3Csvg width='35' height='35' fill='none' xmlns='http://www.w3.org/2000/svg' stroke='rgb%28255%2C255%2C255%29'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5 0C7.835 0 0 7.835 0 17.5S7.835 35 17.5 35 35 27.165 35 17.5 27.165 0 17.5 0zm1.824 18.269v9.52h-3.94v-9.52h-1.967v-3.28h1.968v-1.97c0-2.677 1.111-4.269 4.268-4.269h2.629v3.281h-1.643c-1.23 0-1.31.459-1.31 1.315l-.005 1.642H22.3l-.348 3.28h-2.628z' fill='%23fff'/%3E%3C/svg%3E");
      background-repeat: 15px;
      background-position: #FFFFFF;
      background-size: center; }
    .social-networks__link_inst {
      background-image: url("data:image/svg+xml, %3Csvg width='35' height='35' fill='none' xmlns='http://www.w3.org/2000/svg' stroke='rgb%28255%2C255%2C255%29'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5 0C7.835 0 0 7.835 0 17.5S7.835 35 17.5 35 35 27.165 35 17.5 27.165 0 17.5 0zm-3.848 8.223c.996-.045 1.314-.056 3.849-.056h-.003c2.535 0 2.852.01 3.848.056.994.045 1.672.203 2.267.434a4.56 4.56 0 011.653 1.076c.52.519.838 1.04 1.077 1.653.23.594.387 1.272.434 2.266.045.995.056 1.313.056 3.848s-.011 2.852-.056 3.848c-.047.993-.204 1.671-.434 2.265a4.582 4.582 0 01-1.077 1.653 4.566 4.566 0 01-1.652 1.078c-.594.23-1.273.388-2.267.433-.995.045-1.312.056-3.847.056s-2.853-.01-3.848-.056c-.994-.045-1.672-.203-2.266-.434a4.57 4.57 0 01-1.653-1.077 4.573 4.573 0 01-1.076-1.653c-.231-.594-.388-1.272-.434-2.265-.045-.996-.056-1.313-.056-3.848s.011-2.853.056-3.849c.045-.993.202-1.671.433-2.265a4.582 4.582 0 011.078-1.653 4.57 4.57 0 011.653-1.076c.593-.231 1.272-.389 2.265-.434z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.664 9.849h.837c2.492 0 2.787.009 3.771.053.91.042 1.404.194 1.733.322.436.169.746.371 1.073.698.327.326.529.638.698 1.073.128.329.28.823.322 1.733.044.984.054 1.28.054 3.77s-.01 2.786-.054 3.77c-.042.91-.194 1.404-.322 1.733-.169.435-.371.745-.698 1.072a2.886 2.886 0 01-1.073.698c-.328.128-.823.28-1.733.322-.983.044-1.279.054-3.771.054s-2.788-.01-3.772-.054c-.91-.042-1.403-.194-1.733-.322a2.891 2.891 0 01-1.073-.698A2.893 2.893 0 0110.225 23c-.128-.329-.28-.823-.322-1.733-.045-.983-.054-1.279-.054-3.771 0-2.493.01-2.787.054-3.77.042-.91.194-1.405.322-1.734.169-.435.371-.746.698-1.073a2.897 2.897 0 011.073-.698c.33-.129.823-.28 1.733-.322.862-.04 1.195-.05 2.935-.053v.003zm5.819 1.55a1.12 1.12 0 100 2.24 1.12 1.12 0 000-2.241zM12.708 17.5a4.793 4.793 0 119.585 0 4.793 4.793 0 01-9.585 0z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.501 14.389a3.111 3.111 0 110 6.222 3.111 3.111 0 010-6.222z' fill='%23fff'/%3E%3C/svg%3E");
      background-repeat: 15px;
      background-position: #FFFFFF;
      background-size: center; }
  .social-networks__temporarily {
    font-family: "Forum";
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 194.5px;
    margin-left: 162px;
    margin-top: 100px; }

.spam-form {
  display: flex;
  max-height: 640px; }
  .spam-form__img-block {
    width: 49.3%; }
  .spam-form__img {
    height: 100%; }
  .spam-form__form-block {
    width: 50%;
    padding: 180px 12.8% 0;
    display: flex;
    flex-direction: column; }
  .spam-form__phone-block {
    margin-bottom: 112px; }
  .spam-form__title {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #272727;
    margin-bottom: 33px; }
  .spam-form__link {
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    color: #959595; }
  .spam-form__form {
    position: relative;
    width: 280px; }
  .spam-form__input {
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 1.8px solid #272727;
    padding: 1px 50px 3px 0;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    color: black; }
    .spam-form__input::placeholder {
      font-weight: 300;
      font-size: 22px;
      line-height: 28px;
      color: #959595; }
  .spam-form__btn {
    position: absolute;
    right: 0;
    bottom: 13px;
    border: none;
    outline: none;
    background: transparent;
    padding: 8px 14px;
    background-image: url("data:image/svg+xml, %3Csvg width='30' height='17' fill='rgb%2839%2C39%2C39%29' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.125 1L29 8.5m0 0L21.125 16M29 8.5H1' stroke='rgb%2839%2C39%2C39%29' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px 15px;
    background-repeat: no-repeat;
    background-position: center; }

.footer {
  padding: 80px 11.25% 88px;
  background: #272727;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "list list list list list list" "logo logo . phone phone news"; }
  .footer__list {
    grid-area: list;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px; }
  .footer__link {
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF; }
  .footer__logo {
    grid-area: logo;
    margin-top: 17px; }
  .footer__block-phone {
    grid-area: phone;
    margin-left: 21%; }
  .footer__title-phone {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px; }
  .footer__link-phone {
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #C2C2C2;
    display: inline-block;
    margin-bottom: 13px; }
  .footer__social-nt-list {
    display: flex; }
  .footer__social-nt-item {
    padding: 11px 0;
    margin-right: 20px; }
    .footer__social-nt-item:last-child {
      margin-right: 0; }
  .footer__social-nt-link {
    padding: 11px 17px; }
    .footer__social-nt-link_facebook {
      background-image: url("data:image/svg+xml, %3Csvg width='35' height='35' fill='none' xmlns='http://www.w3.org/2000/svg' stroke='rgb%28218%2C218%2C218%29'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5 0C7.835 0 0 7.835 0 17.5S7.835 35 17.5 35 35 27.165 35 17.5 27.165 0 17.5 0zm1.824 18.269v9.52h-3.94v-9.52h-1.967v-3.28h1.968v-1.97c0-2.677 1.111-4.269 4.268-4.269h2.629v3.281h-1.643c-1.23 0-1.31.459-1.31 1.315l-.005 1.642H22.3l-.348 3.28h-2.628z' fill='%23fff'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 33.5px; }
    .footer__social-nt-link_inst {
      background-image: url("data:image/svg+xml, %3Csvg width='35' height='35' fill='none' xmlns='http://www.w3.org/2000/svg' stroke='rgb%28218%2C218%2C218%29'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5 0C7.835 0 0 7.835 0 17.5S7.835 35 17.5 35 35 27.165 35 17.5 27.165 0 17.5 0zm-3.848 8.223c.996-.045 1.314-.056 3.849-.056h-.003c2.535 0 2.852.01 3.848.056.994.045 1.672.203 2.267.434a4.56 4.56 0 011.653 1.076c.52.519.838 1.04 1.077 1.653.23.594.387 1.272.434 2.266.045.995.056 1.313.056 3.848s-.011 2.852-.056 3.848c-.047.993-.204 1.671-.434 2.265a4.582 4.582 0 01-1.077 1.653 4.566 4.566 0 01-1.652 1.078c-.594.23-1.273.388-2.267.433-.995.045-1.312.056-3.847.056s-2.853-.01-3.848-.056c-.994-.045-1.672-.203-2.266-.434a4.57 4.57 0 01-1.653-1.077 4.573 4.573 0 01-1.076-1.653c-.231-.594-.388-1.272-.434-2.265-.045-.996-.056-1.313-.056-3.848s.011-2.853.056-3.849c.045-.993.202-1.671.433-2.265a4.582 4.582 0 011.078-1.653 4.57 4.57 0 011.653-1.076c.593-.231 1.272-.389 2.265-.434z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.664 9.849h.837c2.492 0 2.787.009 3.771.053.91.042 1.404.194 1.733.322.436.169.746.371 1.073.698.327.326.529.638.698 1.073.128.329.28.823.322 1.733.044.984.054 1.28.054 3.77s-.01 2.786-.054 3.77c-.042.91-.194 1.404-.322 1.733-.169.435-.371.745-.698 1.072a2.886 2.886 0 01-1.073.698c-.328.128-.823.28-1.733.322-.983.044-1.279.054-3.771.054s-2.788-.01-3.772-.054c-.91-.042-1.403-.194-1.733-.322a2.891 2.891 0 01-1.073-.698A2.893 2.893 0 0110.225 23c-.128-.329-.28-.823-.322-1.733-.045-.983-.054-1.279-.054-3.771 0-2.493.01-2.787.054-3.77.042-.91.194-1.405.322-1.734.169-.435.371-.746.698-1.073a2.897 2.897 0 011.073-.698c.33-.129.823-.28 1.733-.322.862-.04 1.195-.05 2.935-.053v.003zm5.819 1.55a1.12 1.12 0 100 2.24 1.12 1.12 0 000-2.241zM12.708 17.5a4.793 4.793 0 119.585 0 4.793 4.793 0 01-9.585 0z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.501 14.389a3.111 3.111 0 110 6.222 3.111 3.111 0 010-6.222z' fill='%23fff'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 33.5px; }
  .footer__news-block {
    grid-area: news; }
  .footer__news-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px; }
  .footer__news-form {
    position: relative;
    width: 280px;
    margin-bottom: 13px; }
  .footer__news-input {
    width: 280px;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    outline: none;
    padding: 5px 50px 9px 0; }
    .footer__news-input::placeholder {
      font-weight: 300;
      font-size: 18px;
      line-height: 23px;
      color: #C2C2C2; }
  .footer__news-btn {
    position: absolute;
    right: 0;
    bottom: 13px;
    border: none;
    outline: none;
    background: transparent;
    padding: 8px 15px;
    background-image: url("data:image/svg+xml, %3Csvg width='30' height='17' fill='rgb%28255%2C255%2C255%29' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.125 1L29 8.5m0 0L21.125 16M29 8.5H1' stroke='rgb%28255%2C255%2C255%29' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px; }
  .footer__market-list {
    display: flex; }
  .footer__market-item {
    margin-right: 7px; }
    .footer__market-item:nth-child(1) {
      padding-top: 3px; }
    .footer__market-item:last-child {
      margin-right: 0; }
